<!DOCTYPE html> 
<html> 
    <head> 
        <title>テストアプリ</title> 
        <script> 
        const updateLux = async(url, element) => { 
        const sensorData = await fetch(url) 
        .then(response => response.text()) 
        const target = document.getElementById(element) 
        target.innerHTML = `<h4>${sensorData}</h4>` 
        } 
        </script> 
    </head> 
    <body onLoad="updateLux('/lux', 'data')"> 
        <center> 
        <div id = "data">test</div> 
        <input type="button" value="更新" onclick="updateLux('/lux', 'data')">
        </center>
    </body>
</html>